In [9]:
import numpy as np
import pandas as pd
import ffn

In [3]:
# in unix-like os, use「../」==> 表示回到上一層
stocks = pd.read_csv('../2330v2.csv', index_col = 'Date', sep = '\t')
stocks.head(10)

             Close    Open    High     Low  Volume
Date
2015-01-05  130.10  131.03  131.03  128.23   32214
2015-01-06  124.50  128.23  128.23  124.04   67649
2015-01-07  124.97  124.50  125.90  124.50   43886
2015-01-08  128.70  127.30  128.70  126.83   42551
2015-01-09  124.97  125.90  126.37  124.04   61920
2015-01-12  123.10  123.57  124.50  123.10   30402
2015-01-13  123.57  122.17  124.04  121.71   38093
2015-01-14  121.24  123.57  124.04  121.24   49447
2015-01-15  122.64  122.64  124.04  122.64   40996
2015-01-16  127.77  130.56  130.56  126.83  129035

In [6]:
close = stocks.Close # close type is 'pandas.core.series.Series'
print(close, type(close))

Date
2015-01-05    130.10
2015-01-06    124.50
2015-01-07    124.97
2015-01-08    128.70
2015-01-09    124.97
               ...
2016-12-26    179.50
2016-12-27    180.00
2016-12-28    182.00
2016-12-29    180.00
2016-12-30    181.50
Name: Close, Length: 488, dtype: float64 <class 'pandas.core.series.Series'>

In [8]:
close.index = pd.to_datetime(close.index)
print(close.index)
print(type(close.index))

DatetimeIndex(['2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-12', '2015-01-13', '2015-01-14',
               '2015-01-15', '2015-01-16',
               ...
               '2016-12-19', '2016-12-20', '2016-12-21', '2016-12-22',
               '2016-12-23', '2016-12-26', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', name='Date', length=488, freq=None)
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [10]:
# 收盤價格滯後一期
lagclose = close.shift(1)
lagclose.head()

Date
2015-01-05       NaN
2015-01-06    130.10
2015-01-07    124.50
2015-01-08    124.97
2015-01-09    128.70
Name: Close, dtype: float64

In [13]:
mergeclose = pd.DataFrame({'close' : close, 'lagclose1': lagclose})
#print(mergeclose)
print(mergeclose.index)

DatetimeIndex(['2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-12', '2015-01-13', '2015-01-14',
               '2015-01-15', '2015-01-16',
               ...
               '2016-12-19', '2016-12-20', '2016-12-21', '2016-12-22',
               '2016-12-23', '2016-12-26', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', name='Date', length=488, freq=None)

In [16]:
# 計算單期簡單收益率
simpleret = (close - lagclose) / lagclose
simpleret.name = 'simpleret'
print(simpleret)

Date
2015-01-05         NaN
2015-01-06   -0.043044
2015-01-07    0.003775
2015-01-08    0.029847
2015-01-09   -0.028982
                ...
2016-12-26    0.005602
2016-12-27    0.002786
2016-12-28    0.011111
2016-12-29   -0.010989
2016-12-30    0.008333
Name: Close, Length: 488, dtype: float64

In [17]:
# 計算2期簡單收益率
simpleret2 = (close - close.shift(2)) / close.shift(2)
simpleret2.name = 'simpleret2'
print(simpleret2)

Date
2015-01-05         NaN
2015-01-06         NaN
2015-01-07   -0.039431
2015-01-08    0.033735
2015-01-09    0.000000
                ...
2016-12-26    0.002793
2016-12-27    0.008403
2016-12-28    0.013928
2016-12-29    0.000000
2016-12-30   -0.002747
Name: simpleret2, Length: 488, dtype: float64

In [21]:
# use ffn package
ffnsimpleret = ffn.to_returns(close)
print(ffnsimpleret)

Date
2015-01-05         NaN
2015-01-06   -0.043044
2015-01-07    0.003775
2015-01-08    0.029847
2015-01-09   -0.028982
                ...
2016-12-26    0.005602
2016-12-27    0.002786
2016-12-28    0.011111
2016-12-29   -0.010989
2016-12-30    0.008333
Name: Close, Length: 488, dtype: float64

In [22]:
# 年化收益率
annualize = (1 + simpleret).cumprod()[-1:]**(245/311) - 1
print(annualize)

Date
2016-12-30    0.299908
Name: Close, dtype: float64