In [26]:
import numpy as np
import pandas as pd
import ffn

In [2]:
# in unix-like os, use「../」==> 表示回到上一層
stocks = pd.read_csv('../2330v2.csv', index_col = 'Date', sep = '\t')
stocks.head(10)

             Close    Open    High     Low  Volume
Date
2015-01-05  130.10  131.03  131.03  128.23   32214
2015-01-06  124.50  128.23  128.23  124.04   67649
2015-01-07  124.97  124.50  125.90  124.50   43886
2015-01-08  128.70  127.30  128.70  126.83   42551
2015-01-09  124.97  125.90  126.37  124.04   61920
2015-01-12  123.10  123.57  124.50  123.10   30402
2015-01-13  123.57  122.17  124.04  121.71   38093
2015-01-14  121.24  123.57  124.04  121.24   49447
2015-01-15  122.64  122.64  124.04  122.64   40996
2015-01-16  127.77  130.56  130.56  126.83  129035

In [3]:
close = stocks.Close # close type is 'pandas.core.series.Series'
print(close, type(close))

Date
2015-01-05    130.10
2015-01-06    124.50
2015-01-07    124.97
2015-01-08    128.70
2015-01-09    124.97
               ...
2016-12-26    179.50
2016-12-27    180.00
2016-12-28    182.00
2016-12-29    180.00
2016-12-30    181.50
Name: Close, Length: 488, dtype: float64 <class 'pandas.core.series.Series'>

In [4]:
close.index = pd.to_datetime(close.index)
print(close.index)
print(type(close.index))

DatetimeIndex(['2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-12', '2015-01-13', '2015-01-14',
               '2015-01-15', '2015-01-16',
               ...
               '2016-12-19', '2016-12-20', '2016-12-21', '2016-12-22',
               '2016-12-23', '2016-12-26', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', name='Date', length=488, freq=None)
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [5]:
# 收盤價格滯後一期
lagclose = close.shift(1)
lagclose.head()

Date
2015-01-05       NaN
2015-01-06    130.10
2015-01-07    124.50
2015-01-08    124.97
2015-01-09    128.70
Name: Close, dtype: float64

In [6]:
mergeclose = pd.DataFrame({'close' : close, 'lagclose1': lagclose})
#print(mergeclose)
print(mergeclose.index)

DatetimeIndex(['2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-12', '2015-01-13', '2015-01-14',
               '2015-01-15', '2015-01-16',
               ...
               '2016-12-19', '2016-12-20', '2016-12-21', '2016-12-22',
               '2016-12-23', '2016-12-26', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', name='Date', length=488, freq=None)

In [7]:
# 計算單期簡單收益率
simpleret = (close - lagclose) / lagclose
simpleret.name = 'simpleret'
print(simpleret)

Date
2015-01-05         NaN
2015-01-06   -0.043044
2015-01-07    0.003775
2015-01-08    0.029847
2015-01-09   -0.028982
                ...
2016-12-26    0.005602
2016-12-27    0.002786
2016-12-28    0.011111
2016-12-29   -0.010989
2016-12-30    0.008333
Name: simpleret, Length: 488, dtype: float64

In [8]:
# 計算2期簡單收益率
simpleret2 = (close - close.shift(2)) / close.shift(2)
simpleret2.name = 'simpleret2'
print(simpleret2)

Date
2015-01-05         NaN
2015-01-06         NaN
2015-01-07   -0.039431
2015-01-08    0.033735
2015-01-09    0.000000
                ...
2016-12-26    0.002793
2016-12-27    0.008403
2016-12-28    0.013928
2016-12-29    0.000000
2016-12-30   -0.002747
Name: simpleret2, Length: 488, dtype: float64

In [9]:
# use ffn package
ffnSimpleret = ffn.to_returns(close) # 簡單收益率
print(ffnSimpleret)

Date
2015-01-05         NaN
2015-01-06   -0.043044
2015-01-07    0.003775
2015-01-08    0.029847
2015-01-09   -0.028982
                ...
2016-12-26    0.005602
2016-12-27    0.002786
2016-12-28    0.011111
2016-12-29   -0.010989
2016-12-30    0.008333
Name: Close, Length: 488, dtype: float64

In [10]:
# 年化收益率
annualize = (1 + simpleret).cumprod()[-1:]**(245/311) - 1
#annualize = (1 + simpleret).cumprod()**(245/311) 
print(annualize)

Date
2016-12-30    0.299908
Name: simpleret, dtype: float64

In [11]:
print(simpleret[-1:])
print(simpleret[-1:]**2)
print(simpleret[-1:]**(2/4))

Date
2016-12-30    0.008333
Name: simpleret, dtype: float64
Date
2016-12-30    0.000069
Name: simpleret, dtype: float64
Date
2016-12-30    0.091287
Name: simpleret, dtype: float64

In [17]:
# 自然對數
v = np.log(close/lagclose)
print(v)
v1 = ffn.to_log_returns(close)
print(v1)

Date
2015-01-05         NaN
2015-01-06   -0.043998
2015-01-07    0.003768
2015-01-08    0.029410
2015-01-09   -0.029410
                ...
2016-12-26    0.005587
2016-12-27    0.002782
2016-12-28    0.011050
2016-12-29   -0.011050
2016-12-30    0.008299
Name: Close, Length: 488, dtype: float64
Date
2015-01-05         NaN
2015-01-06   -0.043998
2015-01-07    0.003768
2015-01-08    0.029410
2015-01-09   -0.029410
                ...
2016-12-26    0.005587
2016-12-27    0.002782
2016-12-28    0.011050
2016-12-29   -0.011050
2016-12-30    0.008299
Name: Close, Length: 488, dtype: float64

In [27]:
#a = ffn.get('aapl,msft', start='2010-01-01')
#a.head()

import pandas as pd
import numpy as np
from pandas_datareader import data
import pandas_datareader.data as web
import datetime
import matplotlib.pyplot as plt

start=datetime.datetime(2018,1,1)
end=datetime.datetime(2020,1,1)
# 本行已無法使用，不知為何？ -- 2022.12.26 --
data=web.DataReader('2330.tw','yahoo',start,end)
#資料視覺化
data['Close'].plot()
data

TypeError: string indices must be integers

In [38]:
#print(np.log(1))
#print('---\n')
f = ffn.to_log_returns(1)
f.head

AttributeError: 'int' object has no attribute 'shift'

In [45]:
a=np.array([2, 4, 6, 3**8])
a1 = pd.Series(a)
print(a1)
b = np.log(a)
print(b)
# 傳入參數是要pandas series type, fun. p1 / p0
b1 = ffn.to_log_returns(a1)
print(b1)
c = np.log2(a)
print(c)

0       2
1       4
2       6
3    6561
dtype: int64
[0.69314718 1.38629436 1.79175947 8.78889831]
0         NaN
1    0.693147
2    0.405465
3    6.997139
dtype: float64
[ 1.          2.          2.5849625  12.67970001]

In [47]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']